* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: Tahoma, Geneva, Verdana, sans-serif;

  --red: #a32628;
  --white: #f5f5f5;
  --green: #0a830a;
  --black: #333;

  --border: 2px solid var(--black);
}

body {
  font-family: var(--ff);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: hsl(from var(--white) h s 90%);
}

button {
  cursor: pointer;
}

main {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1em;
  background-color: var(--white);
  padding: 1em;
  border-radius: 6px;
  box-shadow: 4px 4px 5px hsla(from var(--black) h s l / 0.1);
}

.btn {
  font: inherit;
  border: none;
  padding: 0.4em 1.5em;
  border-radius: 5px;
  color: var(--white);
  font-weight: 700;
}

.new-book {
  margin-block: 1em;
  margin-inline: 0.5em auto;
  background-color: var(--green);
}

table {
  border-collapse: collapse;
  border: var(--border);
}

th,
td {
  border: var(--border);
  padding: 0.2em 0.5em;
}

dialog {
  margin: auto;
}

.close-btn {
  background-color: var(--red);
  border-radius: 50%;
  border: none;
  color: var(--white);
  font-size: 1.5em;
  font-weight: 700;
  width: 32px;
  height: 32px;
}

div:has(.close-btn) {
  min-height: 48px;
  display: flex;
  padding: 0.5em;
  justify-content: end;
}

.form-container {
  min-width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  & form {
    display: grid;
    padding: 1em;
    gap: 0.6em;

    & button {
      margin-inline: auto;
      margin-top: 1.5em;
      align-self: center;
      background-color: var(--green);
      width: 50%;
      padding-block: 0.75em;
    }
  }

  & form p {
    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      display: grid;
    }
  }
}

input[type="text"] {
  min-width: 300px;
}

input {
  padding: 5px;
  font-size: 1.5em;
}

input[type="checkbox"] {
  margin-left: 1em;
}

dialog > form {
  margin: 20% auto 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.input {
  width: 40%;
}

td > button {
  border: none;
  width: 100%;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.del-book {
  background-color: var(--red);
  color: var(--white);

  & button {
    color: var(--white);
    font-weight: 700;
    padding: 0.2em 0.5em;
  }
}

colgroup > col {
  &:first-child,
  &:nth-child(2) {
    min-width: 50ch;
  }

  &:nth-child(3),
  &:nth-child(4) {
    min-width: 100px;
  }

  &:last-child {
    width: 48px;
  }

  overflow-y: auto;
}

thead td {
  border-color: transparent;
}
